// 头部
.up{
    background: url(../images/index/head/n_top_icon.png) 65px 5px no-repeat #fff; 
}
.down{
    background: url(../images/index/head/n_top_icon.png)
    no-repeat #fff; 
    background-position: 65px -20px;
}

#headerView{
    // .container{
    //     padding:0;
    // }
    
    .head_top{
        font-size:12px;
        .login{
            width: 193px;
            height: 30px;
            color: #3e4141;
            line-height: 30px;
            float: left;
            margin-right: 20px;
        }
        .city{
            width: 121px;
            height: 22px;
            float: left;
            padding-left:40px;
            background:url(../images/index/head/n_top_icon.png) no-repeat;
            background-position: 7px -44px;

            a{
                display: block;
                text-align: left;
                width: 79px;
                height: 22px;
                line-height: 22px;
                padding-left: 6px;
                color: #3e4141;
                text-decoration: none;
                float: left;
                border: 1px solid #eeeee7;
                background: url(../images/index/head/n_top_icon.png) 65px 8px no-repeat #fff;
                margin-top: 3px;
            }
            
        }
        .menu{
            float: right;
            ul{
                vertical-align: bottom;

                li{
                    float: left;
                    position: relative;
                    line-height: 30px;
                    span{
                        border-left:1px solid #ccc;
                        border-right:1px solid #ccc;
                        padding:0 15px;
                    }
                }
                li:nth-child(3){
                    // padding-left:10px;

                    background: url(../images/index/head/top_ipico02.gif) 4px center no-repeat;
                    span{
                        padding-left:20px;
                        position:relative;
                    }
                    div{
                        display:none;
                        width: 85px;
                        height: 100px;
                        position:absolute;
                        z-index:100;
                        img{
                            width: 100%;
                        }
                    }
                }
                li:nth-child(3):hover div{
                    display:block;
                }

                li:nth-child(4){
                    span{
                       // background: url(../images/index/head/n_top_icon.png) 65px 5px no-repeat #fff; 
                       position:relative;
                    }
                    dl{
                        display:none;
                        position:absolute;
                        top:30px;
                        left:0;
                        width: 80px;
                        border:1px solid #ccc;
                        z-index:100;

                        dd{
                            line-height: 20px;
                            background-color: #fff;
                            padding:0 15px;
                        }

                    }
                }
                li:nth-child(4):hover dl{
                    display:block;
                }

                li:hover span{
                    color:#ff6900;
                }
            }
        }
    }

     
    .head_top_bar{
        width: 100%;
        display: block;
        height: 60px;

        img{
            width: 100%;
            height: 60px;
        }
    }
    
    .head_logo_box{
            height: 100px;
            padding: 10px 0 20px;
            .head_search{
                width: 470px;
                height: 41px;
                float: left;
                margin-left:25px;
                .word{
                    line-height: 32px;
                    height: 32px;
                    width: 470px;
                    overflow: hidden;
                    li{
                        float: left;
                        margin: 0 25px 0 0;
                    }
                }
                .word li:hover a{
                    color:red;
                    text-decoration:underline;
                }
                .search {
                    input{

                        border:3px solid #91be16;
                    }
                    .btn{
                        background-color: #91be16;
                        border:1px solid #91be16;
                    }
                } 
            }

            .smallbox{
                float: right;
                .my{
                    width: 125px;
                    height: 40px;
                    border: 1px solid #e5e5e5;
                    float: left;
                    margin: 35px 0 0 20px;
                    position: relative;
                    z-index: 68;
                    // background-color: red;
                   
                    span{ 
                       padding-left:40px;
                       line-height: 40px;
                       display:block;
                       height: 38px;
                       background: url(../images/index/head/n_top_icon.png) no-repeat #fff; 
                        background-position: 7px -110px;
                        // z-index:1;
                    }
                    .myorder{
                        display:none;
                        font-size:14px;
                        position:absolute;
                        top:38px;
                        left:-164px;
                        line-height: 20px;
                        border:1px solid #ccc;
                        background-color: #fff;
                        width: 288px;
                        padding: 5px 15px 10px;
                        p{
                            border-bottom: 1px solid #e8e8e8;
                            width: 288px;
                            height: 40px;
                            line-height: 40px;
                        }
                        ul{
                            float: left;
                            li{
                                float: left;
                                width: 120px;
                                height: 30px;
                                line-height: 30px;
                                color: #3e4141;
                            }
                        }
                    }

                }
                .my:hover span{
                    border: 1px solid #fff;
                }
                .my:hover .myorder{
                    display: block;
                } 
                .buy{
                    border: 1px solid #e5e5e5;
                    width: 125px;
                    height: 40px;
                    float: right;
                    margin: 35px 0 0 20px;
                    position: relative;
                    z-index: 69;
                    
                    .buyorder{
                        display:none;
                        font-size:14px;
                        position:absolute;
                        top:38px;
                        left:-128px;
                        line-height: 20px;
                        border:1px solid #ccc;
                        background-color: #fff;
                        width: 250px;
                        padding: 5px 15px 10px;
                        p{
                            height: 60px;
                            line-height: 60px;
                            text-align:center;
                        }
                        ul{
                            float: left;
                            li{
                                float: left;
                                width: 100px;
                            }
                        }
                    }

                    
                    .buy_qty{
                            background: url(../images/index/head/n_top_icon.png) 0 -194px no-repeat;
                                height: 23px;
                                width: 37px;
                                position: absolute;
                                top: -16px;
                                left: 21px;
                                
                                color: #fff;
                                text-align: center;
                                z-index: 68;
                    }

                    span{
                       padding-left:40px;
                       line-height: 40px;
                       display:block;
                       height: 38px;
                       background: url(../images/index/head/n_top_icon.png) no-repeat #fff; 
                        background-position: 7px -146px;
                    }
                }
                .buy:hover .buyorder{
                        display: block;
                }
                
            }
    }

    .head_menu_bg{
        width: 100%;
        height: 44px;
        background-color: #8ab700;
            
        // background-color: #78a000;
        .head_menu_all{
            width: 180px;
            height: 44px;
            float: left;
            line-height: 44px;
            font-size:16px;
            color:#fff!important;
            background-color: #78a000;
            position:relative; 
            span:first-child{
                display:block;
                width: 180px;
                height: 44px;
                text-align:center;  
            }
            .list{
                width: 180px;
                font-size:12px;
                border:2px solid #78a000;
                position:absolute;
                top:44px;
                left:0;
                z-index:100;
                li{
                    width: 176px;
                    height: 33px;
                    // text-align:center;
                    padding-left:40px;
                    position:relative;
                    line-height: 30px;
                     border:1px solid #fff;
                    background: url(../images/index/head/n_top_icon.png) no-repeat #fff; 
                    background-position: 9px -150px;

                    .s_nav{
                        display:none;
                        position:absolute;
                        top:0;
                        left:176px;
                        width: 617px;
                        height: 364px;
                        background-color: #fff;
                        border:1px solid #78a000;
                        border-left:0 none;
                        font-size:14px;
                        padding-left:30px;
                        p{
                            color:#000;
                            float: left;

                             span{
                                display:inline;
                                float: left;
                                
                                padding:0 10px;
                            }
                            
                        }
                    }

                }
                li:hover{
                    border:1px solid #8ab700;
                    width: 178px;
                    border-right:2px solid #fff;
                    font-size:14px;
                    
                }
                li:hover div{
                    display:block;
                }
                li:hover a{
                    color:#78a000;
                }
                li:nth-child(2):hover div{
                    top:-33px;
                }
                li:nth-child(3):hover div{
                    top:-66px;
                }
                li:nth-child(4):hover div{
                    top:-99px;
                }
                li:nth-child(5):hover div{
                    top:-132px;
                }
                li:nth-child(6):hover div{
                    top:-165px;
                }
                li:nth-child(7):hover div{
                    top:-197px;
                }
                li:nth-child(8):hover div{
                    top:-229px;
                }
                li:nth-child(8):hover div{
                    top:-229px;
                }
                li:nth-child(9):hover div{
                    top:-229px;
                }
                li:nth-child(10):hover div{
                    top:-328px;
                }
                li:nth-child(11):hover div{
                    top:-328px;
                }
                li:nth-child(12):hover div{
                    top:-328px;
                }
            }
        }
        .head_menu_big{
            height: 44px;
            float: left;
            width: 960px;
            line-height: 44px;

            ul{
                float: left;
                height: 44px;
                // background-color: pink;
                li{
                    float: left;
                    a{
                    font-size:16px;      
                    color: #fff!important;
                    padding: 0 25px;
                    text-decoration: none!important;
                    display: block;
                    }
                }
            }
            ul li:hover a{
                background-color: #78a000;
            }

        }
    }
}

// #banner{
//     width: 100%;
//     height: 400px;
//     background-color: yellow;
// }