
#list{
    .path{
        width: 1200px;
        float: left;
        color: #959595;
        line-height: 40px;
        height: 40px;
    }
    .left{
        float: left;
        width: 210px;
         p{
            background-color: #fafafa;
            color: #6b6b56;
            font-size:16px;
            padding-left: 22px;
            }
        .list_nav{
            float: left!important;
            display: inline;
            width: 210px;
            border-top: 2px solid #8ab700;
            border-left: 1px solid #efefe8;
            border-right: 1px solid #efefe8;
            margin-bottom: 15px;
            
            dl{
                dt{
                    width: 208px;
                    float: left;
                    height: 35px;
                    background: url(//image.benlailife.com/webStatic/images/n_list/list_ico_cb3fabd3.png) 22px -32px no-repeat;
                    cursor: pointer;
                    padding-left:42px;
                    font-size:14px;
                    line-height: 35px;
                }
                dd{
                    float: left;
                    padding: 5px 0 5px 34px;
                    width: 174px;
                    display:none;
                    em{
                        width: 174px;
                        float: left;
                        padding: 0 8px;
                        color: #4c4c4c;
                        line-height: 26px;
                        display: inline-block;
                    }
                }
            }
        }
        .record{
            width: 210px;
            float: left;
            border-top: 2px solid #8ab700;
            border-left: 1px solid #efefe8;
            border-right: 1px solid #efefe8;
            margin-bottom: 15px;
        }
    }

    .right{
        width: 970px;
        float: right;
        display: inline;
        h1{
            font-size:20px;
            color: #333;
        }
        .l_box{
            width: 970px;
            float: left;
            background-color: #f8f8f6;
            margin-bottom: 10px;
            border-bottom: 1px solid #eee;
            height: 32px;
            ul{
                float: left;
                li{
                    padding: 0 25px;
                    float: left;
                    position: relative;
                    z-index: 0; 
                    color: #626262;   
                    height: 33px;
                    line-height: 33px; 
                }
            }
        }
        .active{
            position: absolute;
            top: -3px;
            left: 7px;
            z-index: -1;
            background: url(//image.benlailife.com/webStatic/images/n_list/list_ico_cb3fabd3.png) 0 -143px no-repeat;
          
        }
        .content{
            width: 968px;
            float: left;
            border-top: 1px solid #eee;
            border-left: 1px solid #eee;
            margin-bottom: 30px;
            
            ul{
                float: left;
                li{
                    width: 241px;
                    float: left;
                    height: 395px;
                    position: relative;
                    z-index: 0;
                    img{
                        width: 201px;
                        height: 201px;
                    }
                    span{
                        display:block;
                        height: 24px;
                        line-height: 24px;
                        overflow:hidden; 
                        color: #929292;
                    }
                    .price s{
                        font-size:20px;
                        color: #ff6900;
                        margin-top: 5px;
                    }
                    .add2cart{
                        p{
                            position:absolute;
                            bottom:0px;
                            left:0;
                            display:none;
                        }
                        img{
                            width: 233px;
                            height: 32px;
                        }
                    }

                }
                
                li:hover .add2cart p{
                    display:block;
                }
            }

            
        }
        .page{
                // background-color: yellow;
                float: left;

                span{
                    display:inline-block;
                    margin:5px;width:40px;
                    line-height:1.8;
                    text-align: center;
                    background-color:#dfdfdf;
                    color:#666;
                }
                span.a_on{
                    background-color:#fc0;
                    color:#fff;
                }
            }

    }
}